/* ------------------------
    importando variáveis
--------------------------- */
@import url(variables.css);

/* ------------------------
    importando fontes
--------------------------- */
@import url(fonts.css);

/* ------------------------
    Configurações gerais
--------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--normal), sans-serif;
}

main{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: white;
    font-family: var(--normal);
}

ul{
    list-style: none;
}

section{
    min-height: 100vh !important;
}

/* ------------------------
    estilos do header
--------------------------*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.045);
    z-index: 999;
}

#header #navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.438);
    padding: 10px 100px;
    transition: var(--general-transision);
    border-bottom: 1px solid rgba(10, 10, 10, 0.074);
    backdrop-filter: blur(30px);
}


#header #navbar #logo #logo-img{
    color: var(--secondary-color);
    font-family: var(--bold);
    position: relative;
    transition: var(--general-transision);
}

#header #navbar #logo #logo-img::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-top: 2px solid var(--accen-color);
    border-right: 2px solid var(--accen-color);
    top: 3px;
}

#header #navbar #logo #logo-img::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-bottom: 2px solid var(--accen-color);
    border-left: 2px solid var(--accen-color);
    bottom: 0;
    left: -5px;
}

#header #navbar #navlist{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0;
    z-index: 999;
}

#header #navbar #navlist .navlist-item:not(:last-child){
    margin-right: 20px;
}

#header #navbar #navlist .navlist-item .link{
    color: var(--dark-color);
    position: relative;
    transition: var(--general-transision);
    text-decoration: none;
}

#header #navbar #navlist .navlist-item .link::after{
    position: absolute;
    content: '';
    background-color: var(--accen-color);
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: var(--general-transision);
}

#header #navbar #navlist .navlist-item .link:hover::after{
   width: 100%;
}

#header #navbar #navlist .navlist-item .link.link-active{
    color: var(--accen-color);
}

#header #navbar #navlist #menu-hidden, #menu-show{
    display: none;
}

/* ------------------------
    fim estilos do header
--------------------------*/

/* ------------------------
    estilos das sections
--------------------------*/

.sec{
    margin: auto;
    padding: 80px 20px;
    overflow-x: hidden;
}

.sec:not(:last-child){
    margin-bottom: 20px;
}

.sec .title{
    text-align: center;
    position: relative;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--accen-color);
    font-family: var(--bold), sans-serif;
    margin-bottom: 50px;
}

    /* home section */

#home{
    width: 100%;
    /* background-image: url(../assets/images/back8.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

#text{
    position: relative;
    font-family: var(--bold), sans-serif;
}

#home #text::after{
    content: '';
    position: absolute;
    background-color: var(--dark-color);
    width: 1px;
    height: 50px;
    animation: cursor .5s infinite ease;
    margin-left: 3px;
}

@keyframes cursor {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}

#home #home-link{
    color: var(--dark-color);
    border: 1px solid var(--accen-color);
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: var(--general-transision);
    text-decoration: none;
}

#home #home-link:hover{
    color: var(--natural-color);
    background-color: var(--accen-color);
}

#home #img-home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#home #img-home-container #img-home{
    width: 650px;
}

    /* fim home section */
   
    /* about section */
#about{
    padding-left: 0px;
    padding-right: 0px;
}

#about #img-about-container{
  padding-bottom: 10px;
}

#about #img-about-container #about-img{
    height: 300px;
}

#about #about-text{
    margin-top: 20px;
}

#about #downcv{
    color: var(--dark-color);
    border: 1px solid var(--accen-color);
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
    transition: var(--general-transision);
    text-decoration: none;
    margin-top: 20px;
    background: none;
}

#about #downcv:hover{
    color: var(--natural-color);
    background-color: var(--accen-color);
    transform: translateY(-10px);
}

#about #skils{
    background-image: url(../assets/images/back6.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px;
    box-shadow: 0px 0px 30px inset rgba(0, 0, 0, 0.568);
}

#about #skils #title-skil{
    color: var(--natural-color);
}
    /* skill styles */
.card{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: var(--general-transision);
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.454);
}

.card .card-body .card-title{
    font-family: var(--bold), sans-serif;
    text-align: center;
    color: var(--accen-color);
}

.card .card-body .card-text{
    text-align: center;
}
    
.tech-logo{
    align-self: center;
    font-size: 40px;
    color: var(--accen-color);
}

    /* fim skill style */

    /* fim about section */

    /* services section */
#services-area .service{
    margin: 15px;
    position: relative;
}

#services-area .service .service-img{
    height: 400px;
    cursor: pointer;
    transition: var(--general-transision);
}

#services-area .service:hover .service-img{
    transform: scale(1.1);
}


#services-area .service .service-about-container{
    padding: 20px;
    opacity: 0;
    color: var(--natural-color);
    transform: translateY(0);
    transition: var(--general-transision);
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.711);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.387);
    backdrop-filter: blur(10px);
    height: 100%;
}

#services-area .service:hover .service-about-container{
    transform: translateY(-250px);
    opacity: 1;
}

#services-area .service .service-title{
    text-align: center;
    font-family: var(--bold);
}

#feedarea #carousel{
    z-index: 99;
}
    
#feedarea .client{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 50px 10px 10px 10px;
    background-color: var(--natural-color);
    border-radius: 20px;
}

#feedarea .client .client-name{
    font-family: var(--bold), sans-serif;
}

#feedarea .client-img-container{ 
    display: flex;
    justify-content: center;
    height: 40px;
}

#feedarea .img-client{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translateY(-50px);
}

#feedarea .client-about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

    /* fim services section */

    /* contact section */
#contact-content{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#form-contact{
    border-radius: 8px;
    background-color: var(--natural-color);
    padding: 15px 10px;
}

#form-contact .form-control:focus{
    box-shadow: none;
    border-color: var(--natural-color);
}

#form-contact textarea{
    resize: none;
}

#form-contact #submit-btn{
    width: 100%;
    background-color: var(--secondary-color);
    font-family: var(--bold), sans-serif;
}

#form-contact #submit-btn:hover{
    color: var(--natural-color);
}

#social-midia{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#social-midia .social-midia-link{
    border-radius: 50%;
    transition: var(--general-transision);
    padding: 10px;
}

#social-midia .social-midia-link:hover .fab{
    color: var(--accen-color);
    transform: scale(1.5);
}

#social-midia .social-midia-link .fab{
    color: white;
    font-size: 30px;
    cursor: pointer;
    transition: var(--general-transision);
}
    /* fim contact section */

/* ------------------------
    fim estilos das sections
--------------------------*/


/* ------------------------
     estilos do footer
--------------------------*/

#footer{
    color: var(--natural-color);
    padding: 20px;
}

#footer .footer-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#footer #copy p{
    text-align: center;
    font-family: var(--thin);
}

#footer .footer-title{
    font-family: var(--bold);
    border-top: 3px solid var(--other-color);
    border-bottom: 3px solid var(--other-color);
    padding: 5px;
    width: 100%;
    text-align: center;
}

#footer #footerlist{
    padding: 0;
}

#footer #footerlist .footerlist-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#footer #footerlist .footerlist-item > .link{
    text-decoration: none;
    color: var(--natural-color);
    text-transform: uppercase;
    font-family: var(--bold);
    font-size: 12px;
}

#footer .footer-area #social-midia .social-midia-link-footer{
    color: var(--dark-color);
    font-size: 25px;
}
/* ------------------------
     fim estilos do footer
--------------------------*/

/*------------------------
     Media queries 
-------------------------*/

@media (max-width: 870px) {
    /* header */
    #header #navbar #menu-show{
        display: block;
        color: var(--natural-color);
        font-size: 25px;
        cursor: pointer;
    }

    #header #navbar{
       position: relative;
       padding:  10px 30px;
    }

    #header #navbar #navlist{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--other-color);
        height: 100vh;
        left: 100%;
        width: 100%;
        transition: var(--general-transision);
        gap: 1px;
        z-index: 9999;
        padding: 0;
    }

    #header #navbar #menu-show{
        color: var(--accen-color);
    }

    #header #navbar #navlist #menu-hidden{
        display: block;
        position: absolute;
        right: 10px;
        font-size: 25px;
        cursor: pointer;
        color: var(--accen-color);
        padding: 10px;
        border-radius: 5px;
        margin: 5px;
        transition: var(--general-transision)
    }

    #header #navbar #navlist #menu-hidden:hover{
        background-color: var(--dark-color);
    }

    #header #navbar #navlist .navlist-item{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #header #navbar #navlist .navlist-item:not(:last-child){
        margin-right: 0;
    }

    #header #navbar #navlist .navlist-item .link{
        color: var(--natural-color);
    }

    /* sections */
    #text::after{
        height: 35px !important;
    }
    
}
/* ------------------------
     fim media queries
--------------------------*/


/* -----------------
     animation
------------------*/

    /* all sections */
.sec .title{
    opacity: 0;
    transform: translateY(-40px);
    transition: 2s;
}
    
.visible .title{
    opacity: 1;
    transform: translateY(0);
}

    /* home */
#img-home{
    transform: translateX(1000px);
    transition: var(--animation-transition);
}
    
.visible #img-home{
    transform: translateX(0px);
}
    
    /* about */
#img-about{
    transform: translateX(-1000px);
    transition: var(--animation-transition);
}
    
.visible #img-about{
    transform: translateX(0px);
}
    
#about-text{
    opacity: 0;
    transition: 2s;
}
    
.visible #about-text{
    opacity: 1;
}
    
/* -----------------
     fim animation
------------------*/